@import url("./reset.css");
@import url("./header.css");
@import url("./baner.css");
@import url("./ranges.css");

:root {
  --main-color: #b88e2f;
  --secondary-color: #fff3e3;
  --main-typography-color: #000;
  --secondary-typography-color: #666;
}

body {
  font-family: "Poppins", serif;
}

.main {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

h3 {
  font-weight: bold;
  font-size: 32px;
  color: var(--main-typography-color);
}